{% extends "base.html.twig" %}


{# ajouter un lien vers profil lorsqu'on est connecté #}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">SoulAnnonce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path("home") }}">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Annonces</a>
      </li>
    </ul>
    <div class="navbar-end">
         <a class="btn btn-success" href="{{path("app_login") }}"><strong>Inscription</strong></a>
         <a class="btn btn-success" href="{{path("app_login") }}"><strong>Connexion</strong></a>
    </div>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
       <button class="btn btn-secondary my-2 my-sm-0" type="submit">rechercher</button>
    </form>
  </div>
</nav>
{% endblock %}